{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

<h1>List of all notes</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}} 
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
	
<a href="/notes/add">Add new message</a>

{% if tags %}
Tags:
{% for t in tags %}
   <a class="tag" href="/notes/tag/{{t.tag}}">{{t.tag}}</a>
{% endfor %}
{% endif %}

{% if entries %}
  <ul class="content_list">
    {% for e in entries %}
    <li>
      <div class"entry">
	<div class="message_heading">
	<span class="left_side"><a href="/notes/entry/{{e.id}}">{{e.subject }}</a></span>
	<span class="right_side">{{e.pub_date}}</span>
	</div>
	<div class="content">
	  <!-- https://docs.djangoproject.com/en/3.1/ref/templates/language/#automatic-html-escaping -->
	  {% autoescape off %}
	  {{e.content}}
	  {% endautoescape %}
	</div>
	{% if e.tag.all %}
          <div class="tags">
            {% for tag in e.tag.all %}
              <a href="/notes/tag/{{tag.tag}}">{{ tag.tag }}</a>
	    {% endfor %}
	  </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No notes available.</p>
{% endif %}
